<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/05_Convers%C3%A3oSparktoPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Demostração para converter dataframe em spark para Pandas

In [1]:
from pyspark.sql import SparkSession
import pyspark .sql.functions as F

In [2]:
spark = (
    SparkSession.builder.appName('PySpark - LucianaSampaio')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

Montando Drive e carregando

In [3]:
# Mount Google Drive to Colab runtime (if applicable)
from google.colab import drive
drive.mount('/content/drive')

# Read the CSV file using Spark
df = spark.read.csv('/content/drive/MyDrive/.Dataset/orders_full.csv', sep=',', encoding='UTF-8', header=True, inferSchema=True)
df.show() # Display the DataFrame to verify if it's loaded correctly

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+--------+--------------------+-----------+------------+--------+
|ORDER_ID|      ORDER_DATETIME|CUSTOMER_ID|ORDER_STATUS|STORE_ID|
+--------+--------------------+-----------+------------+--------+
|     447|06-JAN-22 09.35.4...|        355|    COMPLETE|       1|
|     448|06-JAN-22 10.23.1...|        155|    COMPLETE|       1|
|     449|06-JAN-22 01.21.5...|        242|    COMPLETE|       1|
|     450|06-JAN-22 05.57.0...|         49|    COMPLETE|       1|
|     451|06-JAN-22 10.39.0...|        204|    COMPLETE|       1|
|     452|07-JAN-22 01.11.4...|        216|    COMPLETE|       1|
|     453|07-JAN-22 06.53.0...|          4|    COMPLETE|       4|
|     454|07-JAN-22 03.55.1...|        388|    COMPLETE|       1|
|     455|07-JAN-22 06.38.3...|        291|    COMPLETE|       1|
|     456|08-JAN-22 12.52.1...|        272|    COMPLETE|       1|
|     457|08-JAN-22 10.13.3...|        307|    COMPLETE|       1|
|     458|08-JAN-22 11.03.3...|         42|    COMPLETE|       1|
|     459|09-JAN-22 02.35.1...|        390|    COMPLETE|       1|
|     460|09-JAN-22 03.35.5...|        235|    COMPLETE|       1|
|     461|09-JAN-22 12.54.1...|        302|    COMPLETE|       1|
|     462|09-JAN-22 02.44.4...|        357|    COMPLETE|       1|
|     463|09-JAN-22 02.54.3...|        271|    COMPLETE|       1|
|     464|09-JAN-22 05.16.1...|         79|    COMPLETE|       1|
|     465|09-JAN-22 09.42.5...|        280|    COMPLETE|       1|
|     466|10-JAN-22 07.42.0...|        210|    COMPLETE|       7|
+--------+--------------------+-----------+------------+--------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- ORDER_ID: integer (nullable = true)
 |-- ORDER_DATETIME: string (nullable = true)
 |-- CUSTOMER_ID: integer (nullable = true)
 |-- ORDER_STATUS: string (nullable = true)
 |-- STORE_ID: integer (nullable = true)

CONVERTE PARA DATETIME

In [5]:
dtypedf = df.dtypes
print(dtypedf)

[('ORDER_ID', 'int'), ('ORDER_DATETIME', 'string'), ('CUSTOMER_ID', 'int'), ('ORDER_STATUS', 'string'), ('STORE_ID', 'int')]

In [6]:
type(dtypedf)

list

In [7]:
df.select('ORDER_DATETIME').dtypes

[('ORDER_DATETIME', 'string')]

In [8]:
#verificando o tipo dataframe
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [9]:
df.show(7)

+--------+--------------------+-----------+------------+--------+
|ORDER_ID|      ORDER_DATETIME|CUSTOMER_ID|ORDER_STATUS|STORE_ID|
+--------+--------------------+-----------+------------+--------+
|     447|06-JAN-22 09.35.4...|        355|    COMPLETE|       1|
|     448|06-JAN-22 10.23.1...|        155|    COMPLETE|       1|
|     449|06-JAN-22 01.21.5...|        242|    COMPLETE|       1|
|     450|06-JAN-22 05.57.0...|         49|    COMPLETE|       1|
|     451|06-JAN-22 10.39.0...|        204|    COMPLETE|       1|
|     452|07-JAN-22 01.11.4...|        216|    COMPLETE|       1|
|     453|07-JAN-22 06.53.0...|          4|    COMPLETE|       4|
+--------+--------------------+-----------+------------+--------+
only showing top 7 rows

In [10]:
# Converter para Pandas
df_pandas = df.toPandas()

In [12]:
#verificando o tipo dataframe
print(type(df_pandas))

<class 'pandas.core.frame.DataFrame'>

Validando a conversão to pandas

In [14]:
df_pandas.head(6)

   ORDER_ID         ORDER_DATETIME  CUSTOMER_ID ORDER_STATUS  STORE_ID
0       447  06-JAN-22 09.35.42.00          355     COMPLETE         1
1       448  06-JAN-22 10.23.14.00          155     COMPLETE         1
2       449  06-JAN-22 01.21.54.00          242     COMPLETE         1
3       450  06-JAN-22 05.57.04.00           49     COMPLETE         1
4       451  06-JAN-22 10.39.07.00          204     COMPLETE         1
5       452  07-JAN-22 01.11.46.00          216     COMPLETE         1