<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/14_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering
- Definição: Feature Engineering é o processo de criar, transformar e selecionar variáveis (ou features) relevantes a partir de dados brutos para melhorar o desempenho de modelos de machine learning.
-Ele é fundamental para extrair insights e informações úteis dos dados, aumentando a eficácia da modelagem.

In [27]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

Montar Drive Google

In [28]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Dataset : Titanic
- Normalizacao dos dados


```
# Isto está formatado como código
```

In [29]:
df = pd.read_csv('/content/drive/MyDrive/.Dataset/test.csv', sep=',', encoding='UTF-8', header=0)
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [30]:
df = pd.DataFrame(df)

In [31]:
print(df.dtypes)

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [32]:
# Visualizando a tabela
df.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [33]:
# Importando o DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

In [34]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [35]:
encoder = LabelEncoder()

In [36]:
for column in df.columns:
    if df[column].dtype == 'object':  # Check if column is of type object (string)
        df[column] = encoder.fit_transform(df[column])  # Encode the column

In [37]:
scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns) # Pass 'columns' to preserve column names
print(df_normalized)

     PassengerId  Pclass      Name  Sex       Age  SibSp     Parch    Ticket  \
0       0.000000     1.0  0.494005  1.0  0.452723  0.000  0.000000  0.419890
1       0.002398     1.0  0.966427  0.0  0.617566  0.125  0.000000  0.610497
2       0.004796     0.5  0.645084  1.0  0.815377  0.000  0.000000  0.201657
3       0.007194     1.0  0.978417  1.0  0.353818  0.000  0.000000  0.406077
4       0.009592     1.0  0.426859  0.0  0.287881  0.125  0.111111  0.381215
..           ...     ...       ...  ...       ...    ...       ...       ...
413     0.990408     1.0  0.846523  1.0       NaN  0.000  0.000000  0.737569
414     0.992806     0.0  0.678657  0.0  0.512066  0.000  0.000000  0.895028
415     0.995204     1.0  0.796163  1.0  0.505473  0.000  0.000000  0.955801
416     0.997602     1.0  0.920863  1.0       NaN  0.000  0.000000  0.607735
417     1.000000     1.0  0.724221  1.0       NaN  0.125  0.111111  0.290055

         Fare     Cabin  Embarked
0    0.015282  1.000000       0.5
1    0.013663  1.000000       1.0
2    0.018909  1.000000       0.5
3    0.016908  1.000000       1.0
4    0.023984  1.000000       1.0
..        ...       ...       ...
413  0.015713  1.000000       1.0
414  0.212559  0.289474       0.0
415  0.014151  1.000000       1.0
416  0.015713  1.000000       1.0
417  0.043640  1.000000       0.0

[418 rows x 11 columns]

In [38]:
print(df_normalized)

     PassengerId  Pclass      Name  Sex       Age  SibSp     Parch    Ticket  \
0       0.000000     1.0  0.494005  1.0  0.452723  0.000  0.000000  0.419890
1       0.002398     1.0  0.966427  0.0  0.617566  0.125  0.000000  0.610497
2       0.004796     0.5  0.645084  1.0  0.815377  0.000  0.000000  0.201657
3       0.007194     1.0  0.978417  1.0  0.353818  0.000  0.000000  0.406077
4       0.009592     1.0  0.426859  0.0  0.287881  0.125  0.111111  0.381215
..           ...     ...       ...  ...       ...    ...       ...       ...
413     0.990408     1.0  0.846523  1.0       NaN  0.000  0.000000  0.737569
414     0.992806     0.0  0.678657  0.0  0.512066  0.000  0.000000  0.895028
415     0.995204     1.0  0.796163  1.0  0.505473  0.000  0.000000  0.955801
416     0.997602     1.0  0.920863  1.0       NaN  0.000  0.000000  0.607735
417     1.000000     1.0  0.724221  1.0       NaN  0.125  0.111111  0.290055

         Fare     Cabin  Embarked
0    0.015282  1.000000       0.5
1    0.013663  1.000000       1.0
2    0.018909  1.000000       0.5
3    0.016908  1.000000       1.0
4    0.023984  1.000000       1.0
..        ...       ...       ...
413  0.015713  1.000000       1.0
414  0.212559  0.289474       0.0
415  0.014151  1.000000       1.0
416  0.015713  1.000000       1.0
417  0.043640  1.000000       0.0

[418 rows x 11 columns]

# Verificando o tipo de dados

In [39]:
print(df_normalized
    .dtypes)

PassengerId    float64
Pclass         float64
Name           float64
Sex            float64
Age            float64
SibSp          float64
Parch          float64
Ticket         float64
Fare           float64
Cabin          float64
Embarked       float64
dtype: object