<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/19_ntb_Funcoes_dia_dia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

In [4]:
s = "Eu sou uma string"
print( type (s))
print(s.__add__( "!" ))
print(s.__sizeof__())  ##tamanho que está em memoria

<class 'str'>
Eu sou uma string!
66

In [5]:
class  Actor :
    """Definir a classe do ator"""
    def  __init__ ( self, first_name, last_name, birthday, total_films, oscar_nominations, oscar_wins ):
        self.first_name = first_name
        self.last_name = last_name
        self.birthday =  birthday
        self.total_films = total_films
        self.oscar_nominations = oscar_nominations
        self.oscar_wins = oscar_wins

john = Actor( "John" , "Smith" , "20 de junho" , 80 , 4 , 1 )
tom = Actor( "Tom" , "Hanks" , "9 de julho" , 76 , 5 , 2 )
print(john.first_name, john.last_name)
print(tom.first_name, tom.last_name)

John Smith
Tom Hanks

**Usando Zip em Python **

In [6]:
name = [ "Alice" , "Bob" , "Charlie" ]
age = [ 25 , 30 , 35 ]

for i in range( len(name) ):
    print( name[i] , age[i] )

Alice 25
Bob 30
Charlie 35

In [7]:
name = [ "Alice" , "Bob" , "Charlie" ]
age = [ 25 , 30 , 35 ]

for name , age in zip( name , age ):
    print( name , age )

Alice 25
Bob 30
Charlie 35

:=

In [8]:
while  True :
    user_input = input ( "Digite um número: " )
    if user_input.isdigit():
        number = int (user_input)
        break

Digite um número: 3

In [9]:
#Mais elegante no código

while not (user_input := input("Enter a number: ")).isdigit():
    print("Invalid input, please enter a number.")

number = int(user_input)

Enter a number: 5

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# elementos comuns
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)
print(f"Common elements: {common_elements}")

# Find unique elements in list1
unique_to_list1 = []
for item in list1:
    if item not in list2:
        unique_to_list1.append(item)
print(f"Unique to list1: {unique_to_list1}")

# Find all unique elements
all_unique_elements = list1.copy()
for item in list2:
    if item not in all_unique_elements:
        all_unique_elements.append(item)
print(f"All unique elements: {all_unique_elements}")

Common elements: [4, 5]
Unique to list1: [1, 2, 3]
All unique elements: [1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
#Novo Caminho para uma solução mais elegante

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# # Converte listas em conjuntos
set1 = set(list1)
set2 = set(list2)

# Encontra interseção (elementos comuns)
common_elements = set1 & set2
print(f"Common elements: {common_elements}")

# Encontre diferença (elementos únicos em set1)
unique_to_set1 = set1 - set2
print(f"Unique to set1: {unique_to_set1}")

# Encontre união (todos únicos elementos)
all_unique_elements = set1 | set2
print(f"All unique elements: {all_unique_elements}")

Common elements: {4, 5}
Unique to set1: {1, 2, 3}
All unique elements: {1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
# Define a function that takes multiple arguments
def greet(first, second, third):
    print(f"Hello {first}, {second}, and {third}!")

# List of names
names = ["Alice", "Bob", "Charlie"]

# Unpack list into function arguments
greet(*names)

Hello Alice, Bob, and Charlie!

In [13]:
from dataclasses import dataclass

# Define a simple data class
@dataclass
class Person:
    name: str
    age: int
    city: str

# Create an instance of the class
person = Person(name="Alice", age=30, city="New York")

print(person)

Person(name='Alice', age=30, city='New York')

In [14]:
class Person:
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city

person = Person(name="Alice", age=30, city="New York")
print(person.name)
print(person.age)
print(person.city)

Alice
30
New York

https://python.plainenglish.io/10-python-tricks-that-will-change-the-way-you-code-forever-3267465b2d8f

In [15]:
from functools import lru_cache

# Define a function with heavy computation
@lru_cache(maxsize=100)
def expensive_function(n):
    print(f"Computing {n}...")
    return n * n

# Call the function multiple times
print(expensive_function(4))
print(expensive_function(4))  # This call is cached

Computing 4...
16
16

entender melhor os geradores em python 🅰

In [16]:
def generate_squares(n):
    for i in range(n):
        yield i * i

# Use the generator
for square in generate_squares(5):
    print(square)

0
1
4
9
16

In [17]:
def generate_squares(n):
    result = []
    for i in range(n):
        result.append(i * i)
    return result

for square in generate_squares(5):
    print(square)

0
1
4
9
16

In [18]:
def trim(string):
    return string.strip()

In [19]:
import itertools

# Generate all possible combinations of two items
items = ['A', 'B', 'C']
combinations = itertools.combinations(items, 2)

for combo in combinations:
    print(combo)

('A', 'B')
('A', 'C')
('B', 'C')

In [20]:
from types import MappingProxyType

# Original dictionary
config = {'host': 'localhost', 'port': 8080}

# Create a read-only view
read_only_config = MappingProxyType(config)

print(read_only_config['host'])

# Attempt to modify the read-only dictionary
try:
    read_only_config['host'] = '127.0.0.1'
except TypeError as e:
    print(e)

localhost
'mappingproxy' object does not support item assignment

In [21]:
# code
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [22]:
for nomes in ["Alice", "Bob", "Charlie"]:
    print(nomes)

Alice
Bob
Charlie

In [23]:
for i in range(18,111):
    print(i)

18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110

In [24]:
for passo in range(1,11):
    print(f' vc está executando o passo {passo}')

 vc está executando o passo 1
 vc está executando o passo 2
 vc está executando o passo 3
 vc está executando o passo 4
 vc está executando o passo 5
 vc está executando o passo 6
 vc está executando o passo 7
 vc está executando o passo 8
 vc está executando o passo 9
 vc está executando o passo 10

In [25]:
paises = ['brasil','portugal','espanha','argentina']
estacoes = ['Primavera', 'Verão', 'Outono', 'Inverno']
for pais in paises:
    for estacao in estacoes:
      print(f'{pais} e {estacoes}')

brasil e ['Primavera', 'Verão', 'Outono', 'Inverno']
brasil e ['Primavera', 'Verão', 'Outono', 'Inverno']
brasil e ['Primavera', 'Verão', 'Outono', 'Inverno']
brasil e ['Primavera', 'Verão', 'Outono', 'Inverno']
portugal e ['Primavera', 'Verão', 'Outono', 'Inverno']
portugal e ['Primavera', 'Verão', 'Outono', 'Inverno']
portugal e ['Primavera', 'Verão', 'Outono', 'Inverno']
portugal e ['Primavera', 'Verão', 'Outono', 'Inverno']
espanha e ['Primavera', 'Verão', 'Outono', 'Inverno']
espanha e ['Primavera', 'Verão', 'Outono', 'Inverno']
espanha e ['Primavera', 'Verão', 'Outono', 'Inverno']
espanha e ['Primavera', 'Verão', 'Outono', 'Inverno']
argentina e ['Primavera', 'Verão', 'Outono', 'Inverno']
argentina e ['Primavera', 'Verão', 'Outono', 'Inverno']
argentina e ['Primavera', 'Verão', 'Outono', 'Inverno']
argentina e ['Primavera', 'Verão', 'Outono', 'Inverno']

In [26]:
for x in range(1,11):
    for y in range(1,6):
        print(f'valor de {x} e o valor de {y}')

valor de 1 e o valor de 1
valor de 1 e o valor de 2
valor de 1 e o valor de 3
valor de 1 e o valor de 4
valor de 1 e o valor de 5
valor de 2 e o valor de 1
valor de 2 e o valor de 2
valor de 2 e o valor de 3
valor de 2 e o valor de 4
valor de 2 e o valor de 5
valor de 3 e o valor de 1
valor de 3 e o valor de 2
valor de 3 e o valor de 3
valor de 3 e o valor de 4
valor de 3 e o valor de 5
valor de 4 e o valor de 1
valor de 4 e o valor de 2
valor de 4 e o valor de 3
valor de 4 e o valor de 4
valor de 4 e o valor de 5
valor de 5 e o valor de 1
valor de 5 e o valor de 2
valor de 5 e o valor de 3
valor de 5 e o valor de 4
valor de 5 e o valor de 5
valor de 6 e o valor de 1
valor de 6 e o valor de 2
valor de 6 e o valor de 3
valor de 6 e o valor de 4
valor de 6 e o valor de 5
valor de 7 e o valor de 1
valor de 7 e o valor de 2
valor de 7 e o valor de 3
valor de 7 e o valor de 4
valor de 7 e o valor de 5
valor de 8 e o valor de 1
valor de 8 e o valor de 2
valor de 8 e o valor de 3
valor de 8 e o valor de 4
valor de 8 e o valor de 5
valor de 9 e o valor de 1
valor de 9 e o valor de 2
valor de 9 e o valor de 3
valor de 9 e o valor de 4
valor de 9 e o valor de 5
valor de 10 e o valor de 1
valor de 10 e o valor de 2
valor de 10 e o valor de 3
valor de 10 e o valor de 4
valor de 10 e o valor de 5

In [27]:
celulares = ['samsung','motorola','iphone','nokia']
versoes = ['10','9','11','7']

for celular in celulares:
    for versao in versoes:
        print(f'{celular} e {versao}')

samsung e 10
samsung e 9
samsung e 11
samsung e 7
motorola e 10
motorola e 9
motorola e 11
motorola e 7
iphone e 10
iphone e 9
iphone e 11
iphone e 7
nokia e 10
nokia e 9
nokia e 11
nokia e 7

In [28]:
# iteráveis é um tipo de dados que indica passar por ele

for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [29]:
for letra in 'Python':
    print(letra)

P
y
t
h
o
n

In [30]:
for item in [1,2,3]:
    print(item)

1
2
3

In [31]:
import random # Import the random module
number_to_guess = random.randint(1, 100)
attempts = 0
print("I have chosen a number between 1 and 100. Try to guess it!")

I have chosen a number between 1 and 100. Try to guess it!

In [33]:
import os

# Nome original do arquivo
original_filename = 'original_file.csv'

# Novo nome do arquivo
new_filename = 'renamed_file.csv'

try:
    # Verifica se o arquivo original existe
    if not os.path.exists(original_filename):
        raise FileNotFoundError(f"O arquivo '{original_filename}' não foi encontrado.")

    # Renomeia o arquivo
    os.rename(original_filename, new_filename)
    print(f"Arquivo renomeado com sucesso: '{original_filename}' -> '{new_filename}'")

except FileNotFoundError as e:
    print(e)
except PermissionError:
    print("Permissão negada: verifique se você tem permissão para renomear este arquivo.")
except Exception as e:
    print(f"Ocorreu um erro inesperado: {e}")

O arquivo 'original_file.csv' não foi encontrado.

In [34]:
# using regex to find all words that contain 'apple'

string = 'apple orange pear pineapple snapple durian'

import re

regex = r'\b\w*apple\b'
print(re.findall(regex, string))

# ['apple', 'pineapple', 'snapple']

['apple', 'pineapple', 'snapple']

In [35]:
import unicodedata
import re

"""
A remoção de acentos foi baseada em uma resposta no Stack Overflow.
http://stackoverflow.com/a/517974/3464573
"""

def removerAcentosECaracteresEspeciais(palavra):

    # Unicode normalize transforma um caracter em seu equivalente em latin.
    nfkd = unicodedata.normalize('NFKD', palavra)
    palavraSemAcento = u"".join([c for c in nfkd if not unicodedata.combining(c)])

    # Usa expressão regular para retornar a palavra apenas com números, letras e espaço
    return re.sub('[^a-zA-Z0-9 \\\]', '', palavraSemAcento)

Remover Acentos

In [36]:
!pip install unidecode
import pandas as pd
from unidecode import unidecode

# Exemplo de DataFrame
data = {' Titulo': ['Musculo-esquelético', 'RESSONÂNCIA MAGNÉTICA MULTIPAR', 'BIÓPSIA DE PROSTÁTA GUIADA POR ULTRASSONOGRAFIA','RESSONÂNCIA MAGNÉTICA MULTIPARAMÉTRICA DA PRÓSTATA',' ULTRASSONOGRAFIA DE PÊNIS'
                                         ,'BIÓPSIA PROSTÁTICA GUIADA POR ULTRASSOM COM FUSÃO DA RESSONÂNCIA MAGNÉTICA','BIÓPSIA PROSTATICA GUIADA POR ULTRASSONOGRAFIA  TRANSRETAL','BIOPSIA PRÓSTATICA GUIADA POR ULTRASSONOGRAFIA']}
df = pd.DataFrame(data)

# Função para remover acentos
def remover_acentos(texto):
    return unidecode(texto)

# Aplicar a função a todo o DataFrame
df_result = df.applymap(remover_acentos)

print(df_result)

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 3.7 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8
                                              Titulo
0                                Musculo-esqueletico
1                     RESSONANCIA MAGNETICA MULTIPAR
2    BIOPSIA DE PROSTATA GUIADA POR ULTRASSONOGRAFIA
3  RESSONANCIA MAGNETICA MULTIPARAMETRICA DA PROS...
4                          ULTRASSONOGRAFIA DE PENIS
5  BIOPSIA PROSTATICA GUIADA POR ULTRASSOM COM FU...
6  BIOPSIA PROSTATICA GUIADA POR ULTRASSONOGRAFIA...
7     BIOPSIA PROSTATICA GUIADA POR ULTRASSONOGRAFIA

<ipython-input-36-adf530b5fce1>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_result = df.applymap(remover_acentos)

Ultimas letras em Maiusculas

In [ ]:
def modify(s):
    if len(s) < 2:
       return s.upper()
    return s[0].upper() + s[1:-1] + s[-1].upper()

In [ ]:
print(modify('coderpython'))

In [ ]:
import re

# Read text
text = "Read the data from https://www.gfg.org/ posted by gfg@gmail.com"

# Remove all non-alphanumeric characters
clean_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

# Find all email addresses in text
emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text)

# Replace all phone numbers with "PHONE NUMBER"
clean_text = re.sub(r'\d{3}[-.\s]??\d{3}[-.\s]??\d{4}', 'PHONE NUMBER', clean_text)

# Write cleaned text to output file
print(clean_text)

print("Emails found:", emails)

In [ ]:
# Replace all phone numbers with "PHONE NUMBER"
text  =

clean_text = re.sub(r'\d{3}[-.\s]??\d{3}[-.\s]??\d{4}', 'PHONE NUMBER', clean_text)

print(clean_text)

In [ ]:
import re # Import the 're' module for regular expression operations

def remove_special_characters(value):
    pattern = r'[^a-zA-Z0-9\s]'
    value = re.sub(pattern, '', value)
    return value

remove_special_characters('^9SZ, World!')

In [ ]:
remove_special_characters('aSZ, World!')