<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/20_ntb_pySpark_tratativa_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading data

In [2]:

from pyspark.sql import SparkSession
import pyspark .sql.functions as F
import os

In [5]:



spark = (
    SparkSession.builder.appName('PySpark - LucianaSampaio')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [6]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:

df = spark.read.csv('/content/drive/MyDrive/.Dataset/test.csv', sep=',', encoding='UTF-8', header=True, inferSchema=True)
df

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| NULL|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|          363272|    7.0| NULL|       S|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|          240276| 9.6875| NULL|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|          315154| 8.6625| NULL|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|         3101298|12.2875| NULL|       S|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|            7538|  9.225| NULL|       S|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|          330972| 7.6292| NULL|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|          248738|   29.0| NULL|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|            2657| 7.2292| NULL|       C|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|       A/4 48871|  24.15| NULL|       S|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|          349220| 7.8958| NULL|       S|
|        903|     1|Jones, Mr. Charle...|  male|46.0|    0|    0|             694|   26.0| NULL|       S|
|        904|     1|Snyder, Mrs. John...|female|23.0|    1|    0|           21228|82.2667|  B45|       S|
|        905|     2|Howard, Mr. Benjamin|  male|63.0|    1|    0|           24065|   26.0| NULL|       S|
|        906|     1|Chaffee, Mrs. Her...|female|47.0|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|
|        907|     2|del Carlo, Mrs. S...|female|24.0|    1|    0|   SC/PARIS 2167|27.7208| NULL|       C|
|        908|     2|   Keane, Mr. Daniel|  male|35.0|    0|    0|          233734|  12.35| NULL|       Q|
|        909|     3|   Assaf, Mr. Gerios|  male|21.0|    0|    0|            2692|  7.225| NULL|       C|
|        910|     3|Ilmakangas, Miss....|female|27.0|    1|    0|STON/O2. 3101270|  7.925| NULL|       S|
|        911|     3|"Assaf Khalil, Mr...|female|45.0|    0|    0|            2696|  7.225| NULL|       C|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [8]:
display(df)

DataFrame[PassengerId: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [9]:
df.head(6)

[Row(PassengerId=892, Pclass=3, Name='Kelly, Mr. James', Sex='male', Age=34.5, SibSp=0, Parch=0, Ticket='330911', Fare=7.8292, Cabin=None, Embarked='Q'),
 Row(PassengerId=893, Pclass=3, Name='Wilkes, Mrs. James (Ellen Needs)', Sex='female', Age=47.0, SibSp=1, Parch=0, Ticket='363272', Fare=7.0, Cabin=None, Embarked='S'),
 Row(PassengerId=894, Pclass=2, Name='Myles, Mr. Thomas Francis', Sex='male', Age=62.0, SibSp=0, Parch=0, Ticket='240276', Fare=9.6875, Cabin=None, Embarked='Q'),
 Row(PassengerId=895, Pclass=3, Name='Wirz, Mr. Albert', Sex='male', Age=27.0, SibSp=0, Parch=0, Ticket='315154', Fare=8.6625, Cabin=None, Embarked='S'),
 Row(PassengerId=896, Pclass=3, Name='Hirvonen, Mrs. Alexander (Helga E Lindqvist)', Sex='female', Age=22.0, SibSp=1, Parch=1, Ticket='3101298', Fare=12.2875, Cabin=None, Embarked='S'),
 Row(PassengerId=897, Pclass=3, Name='Svensson, Mr. Johan Cervin', Sex='male', Age=14.0, SibSp=0, Parch=0, Ticket='7538', Fare=9.225, Cabin=None, Embarked='S')]

In [10]:
df.show()

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| NULL|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|          363272|    7.0| NULL|       S|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|          240276| 9.6875| NULL|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|          315154| 8.6625| NULL|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|         3101298|12.2875| NULL|       S|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|            7538|  9.225| NULL|       S|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|          330972| 7.6292| NULL|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|          248738|   29.0| NULL|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|            2657| 7.2292| NULL|       C|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|       A/4 48871|  24.15| NULL|       S|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|          349220| 7.8958| NULL|       S|
|        903|     1|Jones, Mr. Charle...|  male|46.0|    0|    0|             694|   26.0| NULL|       S|
|        904|     1|Snyder, Mrs. John...|female|23.0|    1|    0|           21228|82.2667|  B45|       S|
|        905|     2|Howard, Mr. Benjamin|  male|63.0|    1|    0|           24065|   26.0| NULL|       S|
|        906|     1|Chaffee, Mrs. Her...|female|47.0|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|
|        907|     2|del Carlo, Mrs. S...|female|24.0|    1|    0|   SC/PARIS 2167|27.7208| NULL|       C|
|        908|     2|   Keane, Mr. Daniel|  male|35.0|    0|    0|          233734|  12.35| NULL|       Q|
|        909|     3|   Assaf, Mr. Gerios|  male|21.0|    0|    0|            2692|  7.225| NULL|       C|
|        910|     3|Ilmakangas, Miss....|female|27.0|    1|    0|STON/O2. 3101270|  7.925| NULL|       S|
|        911|     3|"Assaf Khalil, Mr...|female|45.0|    0|    0|            2696|  7.225| NULL|       C|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [11]:
# Idade Média

df.select(F.mean("age")).show()

+------------------+
|          avg(age)|
+------------------+
|30.272590361445783|
+------------------+

In [12]:
# prompt: df.printschema()

df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

# Convert para inteiro a Idade

In [13]:
dfInt =  df.withColumn("age", df["age"].cast("int"))

In [14]:
dfInt.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [15]:
display(dfInt)

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|  34|    0|    0|          330911| 7.8292| NULL|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|    7.0| NULL|       S|
|        894|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| NULL|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| NULL|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| NULL|       S|
|        897|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| NULL|       S|
|        898|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| NULL|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|   29.0| NULL|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| NULL|       C|
|        901|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| NULL|       S|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|          349220| 7.8958| NULL|       S|
|        903|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|   26.0| NULL|       S|
|        904|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|
|        905|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|   26.0| NULL|       S|
|        906|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|
|        907|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| NULL|       C|
|        908|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| NULL|       Q|
|        909|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| NULL|       C|
|        910|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| NULL|       S|
|        911|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| NULL|       C|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# Adiciona DataLog

In [22]:
from pyspark.sql.functions import current_timestamp, to_date, date_format
# Adiciona a coluna `datalog` com o timestamp atual
df = dfInt.withColumn("datalog", current_timestamp())

# Converte a coluna `datalog` para apenas data
df = df.withColumn("datalog", to_date("datalog")) # Changed dfInt to df

In [19]:
display(df)

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
|PassengerId|Pclass|                Name|   Sex| age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|   datalog|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
|        892|     3|    Kelly, Mr. James|  male|  34|    0|    0|          330911| 7.8292| NULL|       Q|2025-01-21|
|        893|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|    7.0| NULL|       S|2025-01-21|
|        894|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| NULL|       Q|2025-01-21|
|        895|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| NULL|       S|2025-01-21|
|        896|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| NULL|       S|2025-01-21|
|        897|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| NULL|       S|2025-01-21|
|        898|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| NULL|       Q|2025-01-21|
|        899|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|   29.0| NULL|       S|2025-01-21|
|        900|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| NULL|       C|2025-01-21|
|        901|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| NULL|       S|2025-01-21|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|          349220| 7.8958| NULL|       S|2025-01-21|
|        903|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|   26.0| NULL|       S|2025-01-21|
|        904|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|2025-01-21|
|        905|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|   26.0| NULL|       S|2025-01-21|
|        906|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|2025-01-21|
|        907|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| NULL|       C|2025-01-21|
|        908|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| NULL|       Q|2025-01-21|
|        909|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| NULL|       C|2025-01-21|
|        910|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| NULL|       S|2025-01-21|
|        911|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| NULL|       C|2025-01-21|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
only showing top 20 rows

In [23]:
df.count()

418

Adicionado dia da Semana

In [24]:
# Adiciona a coluna `dia_semana` com o nome do dia da semana
df = df.withColumn("dia_semana", date_format("datalog", "EEEE"))

# Exibe o esquema do DataFrame para confirmar as novas colunas
df.printSchema()

# Mostra as primeiras linhas do DataFrame
df.show()

root
 |-- PassengerId: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- datalog: date (nullable = false)
 |-- dia_semana: string (nullable = false)

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+----------+
|PassengerId|Pclass|                Name|   Sex| age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|   datalog|dia_semana|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+----------+
|        892|     3|    Kelly, Mr. James|  male|  34|    0|    0|          330911| 7.8292| NULL|       Q|2025-01-21|   Tuesday|
|        893|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|    7.0| NULL|       S|2025-01-21|   Tuesday|
|        894|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| NULL|       Q|2025-01-21|   Tuesday|
|        895|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| NULL|       S|2025-01-21|   Tuesday|
|        896|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| NULL|       S|2025-01-21|   Tuesday|
|        897|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| NULL|       S|2025-01-21|   Tuesday|
|        898|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| NULL|       Q|2025-01-21|   Tuesday|
|        899|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|   29.0| NULL|       S|2025-01-21|   Tuesday|
|        900|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| NULL|       C|2025-01-21|   Tuesday|
|        901|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| NULL|       S|2025-01-21|   Tuesday|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|          349220| 7.8958| NULL|       S|2025-01-21|   Tuesday|
|        903|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|   26.0| NULL|       S|2025-01-21|   Tuesday|
|        904|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|2025-01-21|   Tuesday|
|        905|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|   26.0| NULL|       S|2025-01-21|   Tuesday|
|        906|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|2025-01-21|   Tuesday|
|        907|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| NULL|       C|2025-01-21|   Tuesday|
|        908|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| NULL|       Q|2025-01-21|   Tuesday|
|        909|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| NULL|       C|2025-01-21|   Tuesday|
|        910|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| NULL|       S|2025-01-21|   Tuesday|
|        911|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| NULL|       C|2025-01-21|   Tuesday|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+----------+
only showing top 20 rows

Criando Rank

In [25]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

window_spec = Window.orderBy("age")

df_with_rank = df.withColumn("rank", row_number().over(window_spec))

df_with_rank.show()

+-----------+------+--------------------+------+----+-----+-----+-----------+-------+-----+--------+----------+----------+----+
|PassengerId|Pclass|                Name|   Sex| age|SibSp|Parch|     Ticket|   Fare|Cabin|Embarked|   datalog|dia_semana|rank|
+-----------+------+--------------------+------+----+-----+-----+-----------+-------+-----+--------+----------+----------+----+
|        983|     3|  Pedersen, Mr. Olaf|  male|NULL|    0|    0|     345498|  7.775| NULL|       S|2025-01-21|   Tuesday|   1|
|       1055|     3|  Pearce, Mr. Ernest|  male|NULL|    0|    0|     343271|    7.0| NULL|       S|2025-01-21|   Tuesday|   2|
|        985|     3|   Guest, Mr. Robert|  male|NULL|    0|    0|     376563|   8.05| NULL|       S|2025-01-21|   Tuesday|   3|
|        946|     2|Mangiavacchi, Mr....|  male|NULL|    0|    0|SC/A.3 2861|15.5792| NULL|       C|2025-01-21|   Tuesday|   4|
|        994|     3|  Foley, Mr. William|  male|NULL|    0|    0|     365235|   7.75| NULL|       Q|2025-01-21|   Tuesday|   5|
|        921|     3|   Samaan, Mr. Elias|  male|NULL|    2|    0|       2662|21.6792| NULL|       C|2025-01-21|   Tuesday|   6|
|        999|     3|    Ryan, Mr. Edward|  male|NULL|    0|    0|     383162|   7.75| NULL|       Q|2025-01-21|   Tuesday|   7|
|        928|     3| Roth, Miss. Sarah A|female|NULL|    0|    0|     342712|   8.05| NULL|       S|2025-01-21|   Tuesday|   8|
|       1000|     3|"Willer, Mr. Aaro...|  male|NULL|    0|    0|       3410| 8.7125| NULL|       S|2025-01-21|   Tuesday|   9|
|        902|     3|    Ilieff, Mr. Ylio|  male|NULL|    0|    0|     349220| 7.8958| NULL|       S|2025-01-21|   Tuesday|  10|
|       1052|     3|  Smyth, Miss. Julia|female|NULL|    0|    0|     335432| 7.7333| NULL|       Q|2025-01-21|   Tuesday|  11|
|       1043|     3|Matinoff, Mr. Nicola|  male|NULL|    0|    0|     349255| 7.8958| NULL|       C|2025-01-21|   Tuesday|  12|
|       1003|     3|Shine, Miss. Elle...|female|NULL|    0|    0|     330968| 7.7792| NULL|       Q|2025-01-21|   Tuesday|  13|
|        950|     3|Davison, Mr. Thom...|  male|NULL|    1|    0|     386525|   16.1| NULL|       S|2025-01-21|   Tuesday|  14|
|       1008|     3|    Thomas, Mr. John|  male|NULL|    0|    0|       2681| 6.4375| NULL|       C|2025-01-21|   Tuesday|  15|
|        968|     3|    Miles, Mr. Frank|  male|NULL|    0|    0|     359306|   8.05| NULL|       S|2025-01-21|   Tuesday|  16|
|        975|     3|Demetri, Mr. Marinko|  male|NULL|    0|    0|     349238| 7.8958| NULL|       S|2025-01-21|   Tuesday|  17|
|        976|     2|Lamb, Mr. John Jo...|  male|NULL|    0|    0|     240261|10.7083| NULL|       Q|2025-01-21|   Tuesday|  18|
|        977|     3|  Khalil, Mr. Betros|  male|NULL|    1|    0|       2660|14.4542| NULL|       C|2025-01-21|   Tuesday|  19|
|       1013|     3|   Kiernan, Mr. John|  male|NULL|    1|    0|     367227|   7.75| NULL|       Q|2025-01-21|   Tuesday|  20|
+-----------+------+--------------------+------+----+-----+-----+-----------+-------+-----+--------+----------+----------+----+
only showing top 20 rows