<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/22_ntb_layer_bronze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Configurações Iniciais e Importações**

Aqui está um exemplo de um notebook em PySpark para implementar a arquitetura Medallion com as camadas Bronze, Silver e Gold.

**Explicações:**

- Importar bibliotecas e funções necessárias.
- Definir os caminhos de arquivo para as camadas Bronze, Silver e Gold.
- Configurar as definições do Spark para um desempenho ótimo, como partições de shuffle automático.

In [19]:
!pip install pyspark
from pyspark.sql import SparkSession
import pandas as pd

# Create a SparkSession
spark = SparkSession.builder.appName("LucianaSampaio").getOrCreate()

# URL para o conteúdo bruto do arquivo CSV
url = 'https://raw.githubusercontent.com/luasampaio/datasets/main/customers.csv'

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

-  Lendo a URL

In [20]:
# Lê o arquivo CSV diretamente do URL using pandas
pandas_df = pd.read_csv(url)

In [21]:
# Create a Spark DataFrame from the pandas DataFrame
df = spark.createDataFrame(pandas_df)

In [22]:
# Registrando um Spark DataFrame em uma tabela temporaria "bronze"
df.registerTempTable("bronze")

/usr/local/lib/python3.11/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [23]:
# Now you can access the table using spark.table()
df = spark.table("bronze")
display(df)

DataFrame[customer_id: bigint, first_name: string, last_name: string, phone: string, email: string, street: string, city: string, state: string, zip_code: bigint]

In [24]:
df.count()

1445

In [25]:
# Em vez de usar 'bronze' diretamente, acesse-o através do Spark:
spark.table("bronze").show()

+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
|customer_id|first_name|last_name|         phone|               email|              street|           city|state|zip_code|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
|          1|     Debra|    Burks|           NaN|debra.burks@yahoo...|   9273 Thorne Ave. |   Orchard Park|   NY|   14127|
|          2|     Kasha|     Todd|           NaN|kasha.todd@yahoo.com|    910 Vine Street |       Campbell|   CA|   95008|
|          3|    Tameka|   Fisher|           NaN|tameka.fisher@aol...|769C Honey Creek ...|  Redondo Beach|   CA|   90278|
|          4|     Daryl|   Spence|           NaN|daryl.spence@aol.com|     988 Pearl Lane |      Uniondale|   NY|   11553|
|          5|Charolette|     Rice|(916) 381-6003|charolette.rice@m...|      107 River Dr. |     Sacramento|   CA|   95820|
|          6|   Lyndsey|     Bean|           NaN|lyndsey.bean@hotm...|      769 West Road |       Fairport|   NY|   14450|
|          7|   Latasha|     Hays|(716) 986-3359|latasha.hays@hotm...|7014 Manor Statio...|        Buffalo|   NY|   14215|
|          8| Jacquline|   Duncan|           NaN|jacquline.duncan@...|       15 Brown St. |Jackson Heights|   NY|   11372|
|          9|  Genoveva|  Baldwin|           NaN|genoveva.baldwin@...|  8550 Spruce Drive |Port Washington|   NY|   11050|
|         10|   Pamelia|   Newman|           NaN|pamelia.newman@gm...|  476 Chestnut Ave. |         Monroe|   NY|   10950|
|         11|   Deshawn|  Mendoza|           NaN|deshawn.mendoza@y...|8790 Cobblestone ...|         Monsey|   NY|   10952|
|         12|     Robby|    Sykes|(516) 583-7761|robby.sykes@hotma...|486 Rock Maple St...|      Hempstead|   NY|   11550|
|         13|   Lashawn|    Ortiz|           NaN|lashawn.ortiz@msn...|  27 Washington Rd. |       Longview|   TX|   75604|
|         14|     Garry| Espinoza|           NaN|garry.espinoza@ho...|7858 Rockaway Court |         Forney|   TX|   75126|
|         15|    Linnie|   Branch|           NaN|linnie.branch@gma...|314 South Columbi...|    Plattsburgh|   NY|   12901|
|         16|    Emmitt|  Sanchez|(212) 945-8823|emmitt.sanchez@ho...|461 Squaw Creek R...|       New York|   NY|   10002|
|         17|     Caren| Stephens|           NaN|caren.stephens@ms...|      914 Brook St. |      Scarsdale|   NY|   10583|
|         18| Georgetta|   Hardin|           NaN|georgetta.hardin@...|     474 Chapel Dr. |    Canandaigua|   NY|   14424|
|         19|  Lizzette|    Stein|           NaN|lizzette.stein@ya...| 19 Green Hill Lane |   Orchard Park|   NY|   14127|
|         20|     Aleta|  Shepard|           NaN|aleta.shepard@aol...|     684 Howard St. |     Sugar Land|   TX|   77478|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
only showing top 20 rows

Temos também a opção de ler os dados conforme exemplo abaixo

In [26]:
spark.sql("SELECT * FROM bronze").show()

+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
|customer_id|first_name|last_name|         phone|               email|              street|           city|state|zip_code|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
|          1|     Debra|    Burks|           NaN|debra.burks@yahoo...|   9273 Thorne Ave. |   Orchard Park|   NY|   14127|
|          2|     Kasha|     Todd|           NaN|kasha.todd@yahoo.com|    910 Vine Street |       Campbell|   CA|   95008|
|          3|    Tameka|   Fisher|           NaN|tameka.fisher@aol...|769C Honey Creek ...|  Redondo Beach|   CA|   90278|
|          4|     Daryl|   Spence|           NaN|daryl.spence@aol.com|     988 Pearl Lane |      Uniondale|   NY|   11553|
|          5|Charolette|     Rice|(916) 381-6003|charolette.rice@m...|      107 River Dr. |     Sacramento|   CA|   95820|
|          6|   Lyndsey|     Bean|           NaN|lyndsey.bean@hotm...|      769 West Road |       Fairport|   NY|   14450|
|          7|   Latasha|     Hays|(716) 986-3359|latasha.hays@hotm...|7014 Manor Statio...|        Buffalo|   NY|   14215|
|          8| Jacquline|   Duncan|           NaN|jacquline.duncan@...|       15 Brown St. |Jackson Heights|   NY|   11372|
|          9|  Genoveva|  Baldwin|           NaN|genoveva.baldwin@...|  8550 Spruce Drive |Port Washington|   NY|   11050|
|         10|   Pamelia|   Newman|           NaN|pamelia.newman@gm...|  476 Chestnut Ave. |         Monroe|   NY|   10950|
|         11|   Deshawn|  Mendoza|           NaN|deshawn.mendoza@y...|8790 Cobblestone ...|         Monsey|   NY|   10952|
|         12|     Robby|    Sykes|(516) 583-7761|robby.sykes@hotma...|486 Rock Maple St...|      Hempstead|   NY|   11550|
|         13|   Lashawn|    Ortiz|           NaN|lashawn.ortiz@msn...|  27 Washington Rd. |       Longview|   TX|   75604|
|         14|     Garry| Espinoza|           NaN|garry.espinoza@ho...|7858 Rockaway Court |         Forney|   TX|   75126|
|         15|    Linnie|   Branch|           NaN|linnie.branch@gma...|314 South Columbi...|    Plattsburgh|   NY|   12901|
|         16|    Emmitt|  Sanchez|(212) 945-8823|emmitt.sanchez@ho...|461 Squaw Creek R...|       New York|   NY|   10002|
|         17|     Caren| Stephens|           NaN|caren.stephens@ms...|      914 Brook St. |      Scarsdale|   NY|   10583|
|         18| Georgetta|   Hardin|           NaN|georgetta.hardin@...|     474 Chapel Dr. |    Canandaigua|   NY|   14424|
|         19|  Lizzette|    Stein|           NaN|lizzette.stein@ya...| 19 Green Hill Lane |   Orchard Park|   NY|   14127|
|         20|     Aleta|  Shepard|           NaN|aleta.shepard@aol...|     684 Howard St. |     Sugar Land|   TX|   77478|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
only showing top 20 rows

In [27]:
# Quando tiver dúvida do tipo do dataframe.

print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [28]:
df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- email: string (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: long (nullable = true)

- Concatenando em uma nova coluna

In [32]:
from pyspark.sql.functions import concat, col, lit

df = df.withColumn("NomeCompleto", concat(col("first_name"), lit(" "), col("last_name")))

In [33]:
df.show()

+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+----------------+----------------+
|customer_id|first_name|last_name|         phone|               email|              street|           city|state|zip_code|       full_name|    NomeCompleto|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+----------------+----------------+
|          1|     Debra|    Burks|           NaN|debra.burks@yahoo...|   9273 Thorne Ave. |   Orchard Park|   NY|   14127|     Debra Burks|     Debra Burks|
|          2|     Kasha|     Todd|           NaN|kasha.todd@yahoo.com|    910 Vine Street |       Campbell|   CA|   95008|      Kasha Todd|      Kasha Todd|
|          3|    Tameka|   Fisher|           NaN|tameka.fisher@aol...|769C Honey Creek ...|  Redondo Beach|   CA|   90278|   Tameka Fisher|   Tameka Fisher|
|          4|     Daryl|   Spence|           NaN|daryl.spence@aol.com|     988 Pearl Lane |      Uniondale|   NY|   11553|    Daryl Spence|    Daryl Spence|
|          5|Charolette|     Rice|(916) 381-6003|charolette.rice@m...|      107 River Dr. |     Sacramento|   CA|   95820| Charolette Rice| Charolette Rice|
|          6|   Lyndsey|     Bean|           NaN|lyndsey.bean@hotm...|      769 West Road |       Fairport|   NY|   14450|    Lyndsey Bean|    Lyndsey Bean|
|          7|   Latasha|     Hays|(716) 986-3359|latasha.hays@hotm...|7014 Manor Statio...|        Buffalo|   NY|   14215|    Latasha Hays|    Latasha Hays|
|          8| Jacquline|   Duncan|           NaN|jacquline.duncan@...|       15 Brown St. |Jackson Heights|   NY|   11372|Jacquline Duncan|Jacquline Duncan|
|          9|  Genoveva|  Baldwin|           NaN|genoveva.baldwin@...|  8550 Spruce Drive |Port Washington|   NY|   11050|Genoveva Baldwin|Genoveva Baldwin|
|         10|   Pamelia|   Newman|           NaN|pamelia.newman@gm...|  476 Chestnut Ave. |         Monroe|   NY|   10950|  Pamelia Newman|  Pamelia Newman|
|         11|   Deshawn|  Mendoza|           NaN|deshawn.mendoza@y...|8790 Cobblestone ...|         Monsey|   NY|   10952| Deshawn Mendoza| Deshawn Mendoza|
|         12|     Robby|    Sykes|(516) 583-7761|robby.sykes@hotma...|486 Rock Maple St...|      Hempstead|   NY|   11550|     Robby Sykes|     Robby Sykes|
|         13|   Lashawn|    Ortiz|           NaN|lashawn.ortiz@msn...|  27 Washington Rd. |       Longview|   TX|   75604|   Lashawn Ortiz|   Lashawn Ortiz|
|         14|     Garry| Espinoza|           NaN|garry.espinoza@ho...|7858 Rockaway Court |         Forney|   TX|   75126|  Garry Espinoza|  Garry Espinoza|
|         15|    Linnie|   Branch|           NaN|linnie.branch@gma...|314 South Columbi...|    Plattsburgh|   NY|   12901|   Linnie Branch|   Linnie Branch|
|         16|    Emmitt|  Sanchez|(212) 945-8823|emmitt.sanchez@ho...|461 Squaw Creek R...|       New York|   NY|   10002|  Emmitt Sanchez|  Emmitt Sanchez|
|         17|     Caren| Stephens|           NaN|caren.stephens@ms...|      914 Brook St. |      Scarsdale|   NY|   10583|  Caren Stephens|  Caren Stephens|
|         18| Georgetta|   Hardin|           NaN|georgetta.hardin@...|     474 Chapel Dr. |    Canandaigua|   NY|   14424|Georgetta Hardin|Georgetta Hardin|
|         19|  Lizzette|    Stein|           NaN|lizzette.stein@ya...| 19 Green Hill Lane |   Orchard Park|   NY|   14127|  Lizzette Stein|  Lizzette Stein|
|         20|     Aleta|  Shepard|           NaN|aleta.shepard@aol...|     684 Howard St. |     Sugar Land|   TX|   77478|   Aleta Shepard|   Aleta Shepard|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+----------------+----------------+
only showing top 20 rows

 - Buscando Nome de pessoas que inicia com "A"

In [35]:
df_filtrado = df.filter(df.first_name.startswith("A"))
df_filtrado.show()

+-----------+----------+---------+--------------+--------------------+--------------------+----------------+-----+--------+----------------+----------------+
|customer_id|first_name|last_name|         phone|               email|              street|            city|state|zip_code|       full_name|    NomeCompleto|
+-----------+----------+---------+--------------+--------------------+--------------------+----------------+-----+--------+----------------+----------------+
|         20|     Aleta|  Shepard|           NaN|aleta.shepard@aol...|     684 Howard St. |      Sugar Land|   TX|   77478|   Aleta Shepard|   Aleta Shepard|
|         22|    Adelle|   Larsen|           NaN|adelle.larsen@gma...|683 West Kirkland...|  East Northport|   NY|   11731|   Adelle Larsen|   Adelle Larsen|
|         32|   Araceli|   Golden|           NaN|araceli.golden@ms...|  12 Ridgeview Ave. |       Fullerton|   CA|   92831|  Araceli Golden|  Araceli Golden|
|         62|     Alica|   Hunter|           NaN|alica.hunter@hotm...|   8 San Juan Drive |   East Elmhurst|   NY|   11369|    Alica Hunter|    Alica Hunter|
|         75|      Abby|   Gamble|           NaN| abby.gamble@aol.com|       60 Myers Dr. |      Amityville|   NY|   11701|     Abby Gamble|     Abby Gamble|
|         79|   Ashanti|    Parks|           NaN|ashanti.parks@hot...|   846 N. Helen St. |         Baldwin|   NY|   11510|   Ashanti Parks|   Ashanti Parks|
|         84|    Armand|Whitehead|           NaN|armand.whitehead@...|     639 Harvey St. |     Lindenhurst|   NY|   11757|Armand Whitehead|Armand Whitehead|
|         89|   Arvilla|   Osborn|           NaN|arvilla.osborn@gm...|     60 Acacia Lane |          Upland|   CA|   91784|  Arvilla Osborn|  Arvilla Osborn|
|        158|     Alane|  Kennedy|           NaN|alane.kennedy@yah...|34 Green Lake Str...|   Spring Valley|   NY|   10977|   Alane Kennedy|   Alane Kennedy|
|        193|    Ayanna|   Rhodes|           NaN|ayanna.rhodes@msn...|  7425 Pheasant St. |      Hicksville|   NY|   11801|   Ayanna Rhodes|   Ayanna Rhodes|
|        195|     Addie|     Hahn|           NaN|addie.hahn@hotmai...|    8165 Baker Ave. | Franklin Square|   NY|   11010|      Addie Hahn|      Addie Hahn|
|        197|      Andy|  O'neill|           NaN|andy.o'neill@msn.com|9544 Mulberry Drive |       Rego Park|   NY|   11374|    Andy O'neill|    Andy O'neill|
|        200|    Ashely|   Holmes|           NaN|ashely.holmes@aol...| 45 High Ridge Ave. |     Farmingdale|   NY|   11735|   Ashely Holmes|   Ashely Holmes|
|        204|     Alpha|     King|           NaN|alpha.king@hotmai...| 14 Henry Smith St. |Rockville Centre|   NY|   11570|      Alpha King|      Alpha King|
|        222|      Anya|Contreras|           NaN|anya.contreras@ms...|38 Old Fairground...|  East Northport|   NY|   11731|  Anya Contreras|  Anya Contreras|
|        267|  Angelina|    Lloyd|           NaN|angelina.lloyd@ya...|9593 North Sherma...|    Apple Valley|   CA|   92307|  Angelina Lloyd|  Angelina Lloyd|
|        301|    Annett|  Garrett|           NaN|annett.garrett@ya...|     19 Euclid Lane |       Scarsdale|   NY|   10583|  Annett Garrett|  Annett Garrett|
|        309|  Anderson|   Martin|           NaN|anderson.martin@h...|  9051 Hillside Dr. |     Canandaigua|   NY|   14424| Anderson Martin| Anderson Martin|
|        320|      Aron|  Wiggins|(442) 497-3353|aron.wiggins@aol.com|     6 Bradford St. |       Oceanside|   NY|   11572|    Aron Wiggins|    Aron Wiggins|
|        331|     Aleta|     Mack|           NaN|aleta.mack@yahoo.com|8869 W. Edgemont ...|       Bay Shore|   NY|   11706|      Aleta Mack|      Aleta Mack|
+-----------+----------+---------+--------------+--------------------+--------------------+----------------+-----+--------+----------------+----------------+
only showing top 20 rows

In [39]:
df_filtrado2 = df.filter(df.first_name.startswith("A")).count()
print(df_filtrado2)
print('Quantidade de Pessoas que iniciam o nome com a Letra "A" é: ', df_filtrado2)

114
Quantidade de Pessoas que iniciam o nome com a Letra "A" é:  114