<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/32_ntb_PySpark_RenameCollumns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


###  Renomeando de forma dinâmica as colunas com PySpark
 > Uso Dicionário para renomar


- Criado em 28.01.25

- Por: Luciana Sampaio
- Email: luciana.sampaio84@gmail.com
- LinkedIn: Luciana Sampaio

   - testando modularizar code

In [ ]:
#Example to load csv
import pandas as pd
# Import necessary libraries
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("CSVLoad").getOrCreate()

sdf = spark.createDataFrame(pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/airline-safety/airline-safety.csv"))

In [ ]:
import requests

def get_response(url):
    try:
        response = requests.get(url)
        return response
    except Exception as e:
        print(e)
        raise

In [ ]:
sdf.show()

+--------------------+----------------------+---------------+---------------------+----------------+---------------+---------------------+----------------+
|             airline|avail_seat_km_per_week|incidents_85_99|fatal_accidents_85_99|fatalities_85_99|incidents_00_14|fatal_accidents_00_14|fatalities_00_14|
+--------------------+----------------------+---------------+---------------------+----------------+---------------+---------------------+----------------+
|          Aer Lingus|             320906734|              2|                    0|               0|              0|                    0|               0|
|           Aeroflot*|            1197672318|             76|                   14|             128|              6|                    1|              88|
|Aerolineas Argent...|             385803648|              6|                    0|               0|              1|                    0|               0|
|         Aeromexico*|             596871813|              3|                    1|              64|              5|                    0|               0|
|          Air Canada|            1865253802|              2|                    0|               0|              2|                    0|               0|
|          Air France|            3004002661|             14|                    4|              79|              6|                    2|             337|
|          Air India*|             869253552|              2|                    1|             329|              4|                    1|             158|
|    Air New Zealand*|             710174817|              3|                    0|               0|              5|                    1|               7|
|    Alaska Airlines*|             965346773|              5|                    0|               0|              5|                    1|              88|
|            Alitalia|             698012498|              7|                    2|              50|              4|                    0|               0|
|  All Nippon Airways|            1841234177|              3|                    1|               1|              7|                    0|               0|
|           American*|            5228357340|             21|                    5|             101|             17|                    3|             416|
|   Austrian Airlines|             358239823|              1|                    0|               0|              1|                    0|               0|
|             Avianca|             396922563|              5|                    3|             323|              0|                    0|               0|
|    British Airways*|            3179760952|              4|                    0|               0|              6|                    0|               0|
|     Cathay Pacific*|            2582459303|              0|                    0|               0|              2|                    0|               0|
|      China Airlines|             813216487|             12|                    6|             535|              2|                    1|             225|
|              Condor|             417982610|              2|                    1|              16|              0|                    0|               0|
|                COPA|             550491507|              3|                    1|              47|              0|                    0|               0|
|  Delta / Northwest*|            6525658894|             24|                   12|             407|             24|                    2|              51|
+--------------------+----------------------+---------------+---------------------+----------------+---------------+---------------------+----------------+
only showing top 20 rows

In [ ]:
# Dicionário de renomeação (coluna_atual -> novo_nome)
rename_dict = {
    "airline": "Companhia",
    "fatal_accidents_85_99": "acidentes_fatais_85_99",
    "incidents_00_14": "incidentes_00_14",
    "avail_seat_km_per_week": "assento_disponível_km_por_semana",
    "fatalities_00_14": "fatais_00_14"

}


# Aplicando renomeação usando loop
# Changed 'df' to 'sdf' to work with the Spark DataFrame
for old_col, new_col in rename_dict.items():
    sdf = sdf.withColumnRenamed(old_col, new_col)
# Assigning the final DataFrame to 'df' for consistency
df = sdf

In [ ]:
df.show(7)

+--------------------+--------------------------------+---------------+----------------------+----------------+----------------+---------------------+------------+
|           Companhia|assento_disponível_km_por_semana|incidents_85_99|acidentes_fatais_85_99|fatalities_85_99|incidentes_00_14|fatal_accidents_00_14|fatais_00_14|
+--------------------+--------------------------------+---------------+----------------------+----------------+----------------+---------------------+------------+
|          Aer Lingus|                       320906734|              2|                     0|               0|               0|                    0|           0|
|           Aeroflot*|                      1197672318|             76|                    14|             128|               6|                    1|          88|
|Aerolineas Argent...|                       385803648|              6|                     0|               0|               1|                    0|           0|
|         Aeromexico*|                       596871813|              3|                     1|              64|               5|                    0|           0|
|          Air Canada|                      1865253802|              2|                     0|               0|               2|                    0|           0|
|          Air France|                      3004002661|             14|                     4|              79|               6|                    2|         337|
|          Air India*|                       869253552|              2|                     1|             329|               4|                    1|         158|
+--------------------+--------------------------------+---------------+----------------------+----------------+----------------+---------------------+------------+
only showing top 7 rows

In [ ]:
# Convertendo nomes das colunas para maiusculas
df = df.toDF(*[col.upper() for col in df.columns])

In [ ]:
df.show(7)

+--------------------+--------------------------------+---------------+----------------------+----------------+----------------+---------------------+------------+
|           COMPANHIA|ASSENTO_DISPONÍVEL_KM_POR_SEMANA|INCIDENTS_85_99|ACIDENTES_FATAIS_85_99|FATALITIES_85_99|INCIDENTES_00_14|FATAL_ACCIDENTS_00_14|FATAIS_00_14|
+--------------------+--------------------------------+---------------+----------------------+----------------+----------------+---------------------+------------+
|          Aer Lingus|                       320906734|              2|                     0|               0|               0|                    0|           0|
|           Aeroflot*|                      1197672318|             76|                    14|             128|               6|                    1|          88|
|Aerolineas Argent...|                       385803648|              6|                     0|               0|               1|                    0|           0|
|         Aeromexico*|                       596871813|              3|                     1|              64|               5|                    0|           0|
|          Air Canada|                      1865253802|              2|                     0|               0|               2|                    0|           0|
|          Air France|                      3004002661|             14|                     4|              79|               6|                    2|         337|
|          Air India*|                       869253552|              2|                     1|             329|               4|                    1|         158|
+--------------------+--------------------------------+---------------+----------------------+----------------+----------------+---------------------+------------+
only showing top 7 rows

In [ ]:
# lista das empresas aerea

df.select("COMPANHIA").rdd.flatMap(lambda x: x).collect()

['Aer Lingus',
 'Aeroflot*',
 'Aerolineas Argentinas',
 'Aeromexico*',
 'Air Canada',
 'Air France',
 'Air India*',
 'Air New Zealand*',
 'Alaska Airlines*',
 'Alitalia',
 'All Nippon Airways',
 'American*',
 'Austrian Airlines',
 'Avianca',
 'British Airways*',
 'Cathay Pacific*',
 'China Airlines',
 'Condor',
 'COPA',
 'Delta / Northwest*',
 'Egyptair',
 'El Al',
 'Ethiopian Airlines',
 'Finnair',
 'Garuda Indonesia',
 'Gulf Air',
 'Hawaiian Airlines',
 'Iberia',
 'Japan Airlines',
 'Kenya Airways',
 'KLM*',
 'Korean Air',
 'LAN Airlines',
 'Lufthansa*',
 'Malaysia Airlines',
 'Pakistan International',
 'Philippine Airlines',
 'Qantas*',
 'Royal Air Maroc',
 'SAS*',
 'Saudi Arabian',
 'Singapore Airlines',
 'South African',
 'Southwest Airlines',
 'Sri Lankan / AirLanka',
 'SWISS*',
 'TACA',
 'TAM',
 'TAP - Air Portugal',
 'Thai Airways',
 'Turkish Airlines',
 'United / Continental*',
 'US Airways / America West*',
 'Vietnam Airlines',
 'Virgin Atlantic',
 'Xiamen Airlines']

In [ ]:
df.printSchema()

root
 |-- COMPANHIA: string (nullable = true)
 |-- ASSENTO_DISPONÍVEL_KM_POR_SEMANA: long (nullable = true)
 |-- INCIDENTS_85_99: long (nullable = true)
 |-- ACIDENTES_FATAIS_85_99: long (nullable = true)
 |-- FATALITIES_85_99: long (nullable = true)
 |-- INCIDENTES_00_14: long (nullable = true)
 |-- FATAL_ACCIDENTS_00_14: long (nullable = true)
 |-- FATAIS_00_14: long (nullable = true)