<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/43_funcaoLit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import desc

# Create a SparkSession
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
df4 = spark.createDataFrame([
    Row(age=10, height=80, name="Alice"),
    Row(age=5, height=None, name="Bob"),
    Row(age=None, height=None, name="Tom"),
    Row(age=None, height=None, name=None),
])

In [ ]:
df2.show()

+------+----+
|height|name|
+------+----+
|    80| Tom|
|    85| Bob|
+------+----+

### Funcao Lit

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

spark = SparkSession.builder.appName("ExemploLit").getOrCreate()

# Criando um DataFrame de exemplo
data = [("Renato", 25), ("JoaoSantoCristo", 30)]
df = spark.createDataFrame(data, ["Nome", "Idade"])

# Adicionando uma nova coluna com um valor fixo
df_novo = df.withColumn("País", lit("Brasil"))
df_novo = df_novo.withColumn("Cidade", lit("São Paulo"))

df_novo.show()

+---------------+-----+------+---------+
|           Nome|Idade|  País|   Cidade|
+---------------+-----+------+---------+
|         Renato|   25|Brasil|São Paulo|
|JoaoSantoCristo|   30|Brasil|São Paulo|
+---------------+-----+------+---------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit


spark = SparkSession.builder.appName("A").getOrCreate()

# Criando um DataFrame de exemplo

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark.range(10).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import desc, col, when, lit, coalesce

# Create a SparkSession
spark = SparkSession.builder.appName("app").getOrCreate()

# Define the data for the DataFrame
data = [
    Row(nome="Luciana", pago=1),
    Row(nome="JoaoSantoCristo", pago=2),
    Row(nome="CharlieBrow", pago=3),
]

# Create the DataFrame
df = spark.createDataFrame(data)

# Apply the transformations
df.select(
    col('nome'),
    when(col('pago') == 1, 'pago')
    .when(col('pago') == 2, 'não pago')
    .otherwise('sem transacao')
    .alias('statusPagamento')
).show()

+---------------+---------------+
|           nome|statusPagamento|
+---------------+---------------+
|          Alice|           pago|
|JoaoSantoCristo|       não pago|
|    CharlieBrow|  sem transacao|
+---------------+---------------+