<a href="https://colab.research.google.com/github/luasampaio/data-engineering/blob/main/47_PySpark_CaseWhen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


#Create PySpark
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

simpleData = [("Michael","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Luciana","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Arthur","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

import datetime
dt = datetime.datetime.now()
print(dt)


from pyspark.sql.functions import lit
from pyspark.sql.functions import when
df.withColumn("age", \
  when((df.age < 30), lit(None)) \
    .when((df.age >= 18) & (df.age <= 60), lit("adulto")) \
    .otherwise(lit("idoso")) \
  ).show()

# Add New column with NULL
df.withColumn("DEFAULT_COL", lit(None)) \
  .show()

# Add New column with NULL
df.withColumn("DEFAULT_COL", lit(dt)) \
  .show()

from pyspark.sql.functions import sum,avg,max,min,mean,count
#//GroupBy on multiple columns
df.groupBy("department","state") \
    .sum("salary","bonus") \
    .show()

#subtptal

#df.groupBy("department").sum("salary").show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Michael      |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Luciana      |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Arthur       |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

2025-03-18 05:50:19.014435
+-------------+----------+-----+------+------+-----+
|employee_name|department|state|salary|   age|bonus|
+-------------+----------+-----+------+------+-----+
|      Michael|     Sales|   NY| 90000|adulto|10000|
|      Michael|     Sales|   NY| 86000|adulto|20000|
|      Luciana|     Sales|   CA| 81000|adulto|23000|
|        Maria|   Finance|   CA| 90000|  NULL|23000|
|       Arthur|   Finance|   CA| 99000|adulto|24000|
|        Scott|   Finance|   NY| 83000|adulto|19000|
|          Jen|   Finance|   NY| 79000|adulto|15000|
|         Jeff| Marketing|   CA| 80000|  NULL|18000|
|        Kumar| Marketing|   NY| 91000|adulto|21000|
+-------------+----------+-----+------+------+-----+

+-------------+----------+-----+------+---+-----+-----------+
|employee_name|department|state|salary|age|bonus|DEFAULT_COL|
+-------------+----------+-----+------+---+-----+-----------+
|      Michael|     Sales|   NY| 90000| 34|10000|       NULL|
|      Michael|     Sales|   NY| 86000| 56|20000|       NULL|
|      Luciana|     Sales|   CA| 81000| 30|23000|       NULL|
|        Maria|   Finance|   CA| 90000| 24|23000|       NULL|
|       Arthur|   Finance|   CA| 99000| 40|24000|       NULL|
|        Scott|   Finance|   NY| 83000| 36|19000|       NULL|
|          Jen|   Finance|   NY| 79000| 53|15000|       NULL|
|         Jeff| Marketing|   CA| 80000| 25|18000|       NULL|
|        Kumar| Marketing|   NY| 91000| 50|21000|       NULL|
+-------------+----------+-----+------+---+-----+-----------+

+-------------+----------+-----+------+---+-----+--------------------+
|employee_name|department|state|salary|age|bonus|         DEFAULT_COL|
+-------------+----------+-----+------+---+-----+--------------------+
|      Michael|     Sales|   NY| 90000| 34|10000|2025-03-18 05:50:...|
|      Michael|     Sales|   NY| 86000| 56|20000|2025-03-18 05:50:...|
|      Luciana|     Sales|   CA| 81000| 30|23000|2025-03-18 05:50:...|
|        Maria|   Finance|   CA| 90000| 24|23000|2025-03-18 05:50:...|
|       Arthur|   Finance|   CA| 99000| 40|24000|2025-03-18 05:50:...|
|        Scott|   Finance|   NY| 83000| 36|19000|2025-03-18 05:50:...|
|          Jen|   Finance|   NY| 79000| 53|15000|2025-03-18 05:50:...|
|         Jeff| Marketing|   CA| 80000| 25|18000|2025-03-18 05:50:...|
|        Kumar| Marketing|   NY| 91000| 50|21000|2025-03-18 05:50:...|
+-------------+----------+-----+------+---+-----+--------------------+

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|     Sales|   CA|      81000|     23000|
|   Finance|   CA|     189000|     47000|
|     Sales|   NY|     176000|     30000|
|   Finance|   NY|     162000|     34000|
| Marketing|   NY|      91000|     21000|
| Marketing|   CA|      80000|     18000|
+----------+-----+-----------+----------+

In [ ]:
import datetime
dt = datetime.datetime.now()
print(dt)

2025-03-18 05:50:59.508279